@font-face {
    font-family: "Reem Kufi";
    src: url('../assets/Reem_Kufi/static/ReemKufi-Regular.ttf');
    src: url('../assets/Reem_Kufi/static/ReemKufi-Regular.ttf') format( 'truetype' );
    font-weight: 400;
}

@font-face {
    font-family: "Reem Kufi";
    src: url('../assets/Reem_Kufi/static/ReemKufi-Medium.ttf');
    src: url('../assets/Reem_Kufi/static/ReemKufi-Medium.ttf') format( 'truetype' );
    font-weight: 500;
}

@font-face {
    font-family: "Reem Kufi";
    src: url('../assets/Reem_Kufi/static/ReemKufi-SemiBold.ttf');
    src: url('../assets/Reem_Kufi/static/ReemKufi-SemiBold.ttf') format( 'truetype' );
    font-weight: 600;
}

@font-face {
    font-family: "Reem Kufi";
    src: url('../assets/Reem_Kufi/static/ReemKufi-Bold.ttf');
    src: url('../assets/Reem_Kufi/static/ReemKufi-Bold.ttf') format( 'truetype' );
    font-weight: 700;
}

body * {
    margin: 0;
    padding: 0; 
    /* font-family: Bahnschrift; */
    /* font-family: Rubik; */
    font-family: "Reem Kufi", Arial, sans-serif;
}

@media screen and (max-width: 420px) {
    #wrapper {
        flex-direction: column;
        justify-content: space-evenly;

    }
    #mainwrapper {
        margin: 0 auto;
        order: 2
    }
    #loginwrapper { 
        margin: 0 auto;

        order: 1;
        width: 92vw;
    };

}

@media screen and (min-width: 420px) {
    #mainwrapper {
        margin: 0 auto;
        order: 2
    }
    #loginwrapper {
        /* display: none;  */
        width: 420px;
    }
}


    
#pagetop {
    /* display: flex; */
    position: fixed;
    z-index: 69;
    /* align-items: center; */
    /* justify-content: space-between; */
    width: 100vw;
    height: 56px; 
    background-color: #607867;
    /* padding: 8px 3em;  */
    padding: 8px; 
    border-bottom: 2px solid #554455;
}

#pagetop h1 {
    color: #efe;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 2px 2px 2px #775f77;

}

#pagetop h1 a {
    text-decoration: none;
    color: #efe;

}

#headermenu {
    margin: 0 auto;
    max-width: 598px;
    display: flex;
    justify-content: space-between;
    /* flex- */
    /* background-color: pink; */
}



#ajaxloader {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    position: absolute;
    /* margin: 0 auto; */
    background-color: #c6d2ca69;
    z-index: 999;
}


#bmenu {
    /* justify-content: flex-end; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    width: 40px;
    height: 40px;
    /* padding: 4px; */
}

#bmenu hr {
    color: black;
    width: 86%;
    margin: 2px; 
    height: 4px; 
    border-bottom: 2px solid #554455;
    /* border-right: 1px solid #775f77; */
    border-radius: 2px;
}

#wrapper {
    position: relative;
    top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto; 
    max-width: 624px;

}



h2 {
    /* margin: 1em 0 0.5em 0;  */
    margin: 6px 0; 
}

#mainwrapper {
    /* margin: 0 auto;  */
    width: 100%;
    max-width: 624px;
    padding: 8px 12px; 

    display: flex;
    flex-direction: column;
    flex-grow: 4;

    /* justify-content: center; */
    /* align-items: center; */

    /* height: 3vh;  */
    /* border: 1px solid #ccc; */
    /* background-color: lightpink; */
}






#fileupload {
    display: none; 
    flex-direction: column;
}

#dropzone {
    display: flex;
    width: 100%;
    height: 250px;
    margin: 1.3em 0; 
    background-color: #c6d2ca;
    justify-content: center;
    align-items: center;
    font-size: 24px; 
    text-align: center;
    border: 2px solid #775f77;
    border-radius: 25px; 
}

#submitUpload {
    margin-top: 1em;
}

#naming {
    font-size: 1.6em;

    display: none;
    margin-bottom: 20px;
    
}

#imageName {
    width: 100%;
}


#mainfotowrapper {
    margin: 0 auto; 
    padding: 0 0; 
    width: 100%;

    display: flex;
    flex-direction: column;

    /* height: 300vh;  */
    /* border: 1px solid #ccc;
    background-color: skyblue; */

}

#myfotowrapper {
    margin: 0 auto; 
    padding: 0 0; 
    width: 100%;

    display: none;
    flex-direction: column;
}

#userfotowrapper {
    margin: 0 auto; 
    padding: 0 0; 
    width: 100%;

    display: none;
    flex-direction: column;
}

#aboutwrapper {
    margin: 0 auto; 
    padding: 0 0; 
    width: 100%;

    display: none;
    flex-direction: column;
}

#photoviewer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh; 
    z-index: 96;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(33, 33, 33, 0.96);
}

#photoviewer img {
    margin: auto;
    /* padding: 3em;  */
    max-height: 96%;
    max-width: 96%;
}

#accountwrapper {
    display: none;
    flex-direction: column;
}

#accountwrapper div form {
    margin: 15px 0;
}

#accountwrapper label {
    margin-top: 12px; 
    margin-bottom: 6px; 
}

.accountbuttons {
    margin-top: 12px;
    margin-right: 18px;
    width: 205px; 
}

#deletewrapper {
    display: none;
}


#loginwrapper {
    margin: 0 auto; 

    flex-grow: 2;
    display: flex;
    /* display: none; */
    flex-direction: column;
    /* min-width: 300px;  */
    padding: 8px 12px; 

    /* border: 1px solid #ccc; */
}

#menu {
    /* display: flex; */
    display: none; 
    position: sticky;
    max-width: 624px;
    justify-content: flex-end;
    border: 1px solid #ccc;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 2px 6px #998099;

}

#menu ul {
    font-size: 20px;
    font-weight: 600; 
}

#menu ul li {
    list-style: none;
    margin: 14px 0; 
    padding: 0 2em;
    display: block;
    text-align: right;
    width: 100%; 

}

#menu ul li a {
    text-decoration: none;
    color: #554455;
}
#menu ul li a:hover {
    transition: all 0.2s ease;
    color: #998099;
}


.center button {
    margin: 8px 0; 
}

.loginregister {
    width: 100%; 
}

.createback {
    width: 186px; 
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authheading {
    margin: 5px 0;
    font-size: 28px;
}

.loginregisterForms {
    flex-direction: column;
}

.loginregisterForms > div {
    margin-top: 9px; 
}

#showLogin {
    display: flex;
}

#showRegister {
    display: none; 
}

#showForgotPw {
    display: none; 
}

#forgotPw {
    align-self: center;
}

#newPasswordForm {
    display: flex;
}

#loginwrapper > div > label {
    margin-top: 8px; 
    margin-bottom: 4px; 
    font-size: 18px;
}

#loginwrapper > div > div > input {
    margin-bottom: 4px; 
    height: 42px;
    font-size: 18px;

}

.btn-secondary {
    background-color: #607867;
}

.btn-secondary :hover {
    background-color: #775f77;
}


.xhrmessage {
    display: none;
    margin: 0 auto;
    font-size: 24px; 
}

#registerThanks {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}

.contentSection {
    font-size: 18px;
    /* margin: 18px 3px;  */
    margin-top: 12px; 
    background-color: #ccddaa96;
    border: 1px solid #83a441;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #998099;
}


.contentImage img {
    width: 100%;
    min-height: 200px;
    /* border: 2px solid #3a491d; */
}

.contentHeader {
    height: 36px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #83a441;
}

.headerInfo {
    font-weight: 700;
    display: flex; 
    justify-content: space-between;
    margin: 0 0 0 9px; 
    /* background-color: lightcoral; */
}


.contentFooter {
    height: 36px; 
    display: flex;
    align-items: center;
    /* flex-grow: 1;  */
    /* gap: 12px; */

    border-top: 1px solid #83a441;
    /* background-color: #cda; */
}

.footerInfo {
    margin: 0 0 0 9px; 
    /* background-color: lightcoral; */
}

.footerCounter {
    /* margin: 0 0px 0 auto; */
    margin: 0 9px; 
}

.uvdv {
    margin: 0 9px 0 auto;

}

.arrow {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-top: 5px solid #775f77;
    border-right: 5px solid #775f77;
    /* margin: 1px 1px 1px 3px; */
    margin: 0 9px;
}

.arrow-top {
    transform: translateY(3px) rotate(-45deg);
}

.arrow-bottom {
    transform: translateY(-2px) rotate(135deg);
}

.arrow:hover {
    border-top: 4px solid #bb1bbb;
    border-right: 4px solid #bb1bbb;
    transition: all .3s ease;
}


.editImage {
    margin-right: 9px;
    color: #775f77;
}

#editwrapper {
    display: none;
    flex-direction: column;
}

#editwrapper img {
    /* align-self: center; */
    margin: 1em;
    width: auto;
    height: 250px;
}

#containEditImage {
    display: flex;
    justify-content: center;
}

/* #containEditImage img {
    align-self: center;
}; */

#editFields {
    font-size: 1.2em;
}

#editFields input {
    font-size: 1.1em;
}

.btn-edit {
    min-width: 120px;
    max-width: 180px; 
    margin-top: 1em;
    margin-right: 1em;
}

#lock {
    font-size: 27px;
    text-align: center;
}

.rotateLeft {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 14px;
    border: 2px solid;
    border-left-color: transparent;
    border-radius: 100px
}

.rotateLeft::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-left: 2px solid;
    top: -3px;
    left: -1px;
    transform: rotate(-68deg)
}

.rotateRight {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 14px;
    border: 2px solid;
    border-right-color: transparent;
    border-radius: 100px
}

.rotateRight::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    top: -3px;
    right: -1px;
    transform: rotate(68deg)
}

#rotateArrows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotateArrow {
    margin: 0px 27px;
}

#rotateText{
    text-align: center;
}

.toUserPage {
    font-size: 1.1em; 
    font-weight: 600;
    color: #607867;
}

.toUserPage:hover {
    color: #775f77;
}